@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

::-webkit-scrollbar {
    @apply w-2 rounded-full
    /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
    @apply bg-rtca-400 dark:bg-rtca-600 rounded-full
    /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
    @apply bg-rtca-500 dark:bg-rtca-500 rounded-full
    /* Customize the scrollbar thumb */
}

body{
    @apply bg-rtca-200 dark:bg-rtca-900 
}

.info-box{
    @apply justify-self-center text-white dark:text-rtca-50 p-3 transition-all rounded-md
}

.sidebar{
    @apply w-60 absolute flex flex-col dark:text-white h-screen dark:bg-rtca-800 text-rtca-600 bg-rtca-300 z-20 overflow-auto transition-all 
}

.chat-screen{
    @apply h-screen flex flex-col bg-rtca-200 dark:bg-rtca-700
}

.time-divider{
    @apply flex w-full h-2 items-center justify-center p-2 text-sm text-rtca-300 before:bg-rtca-500 before:w-full before:h-0.5 after:bg-rtca-500 after:w-full after:h-0.5 after:mx-2 before:mx-2 select-none
}

.navbar{
    @apply bg-rtca-300 dark:bg-rtca-800 dark:text-rtca-300 flex p-2 justify-between items-center h-16
}

.chat-input{
    @apply flex grow p-2 rounded-full px-5 z-[1] border-none bg-rtca-300 dark:text-rtca-100 dark:placeholder:text-rtca-300/75 placeholder:text-rtca-700 dark:bg-rtca-800 focus:ring-4 dark:focus:ring-rtca-500/50 focus:ring-rtca-400/50 focus:outline-0 transition-all
}

.chat-send-button{
    @apply bg-green-700 p-2 px-4 text-white rounded-full hover:bg-green-800 active:bg-green-900 focus:outline-0 focus:ring-4 focus:ring-green-800/50 transition-all
}

.message-self{
    @apply mr-2 flex relative items-center bg-rtca-300 dark:bg-rtca-600 p-2 rounded-lg self-end after:border-8 after:border-r-black/0 after:border-t-black/0 after:border-b-black/0 after:-right-3.5 after:top-1 after:absolute dark:after:border-l-rtca-600 after:border-l-rtca-300 after:h-[1px] after:w-[1px]
}

.message-interlocutor{
    @apply ml-2 flex relative items-center bg-rtca-300 dark:bg-rtca-600 p-2 rounded-lg self-start after:border-8 after:border-l-black/0 after:border-t-black/0 after:border-b-black/0 after:-left-3.5 after:top-1 after:absolute dark:after:border-r-rtca-600 after:border-r-rtca-300 after:h-[1px] after:w-[1px]
}